body {
  background: whitesmoke;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.mid-section {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-default {
  background: transparent;
  color: white;
  border: none;
}

ul.dropdown-menu {
  background: rgba(0,0,0,0.7);
}

ul.dropdown-menu li a {
  color: white;
}

.service-container {
  width: 1050+30px;
  background: white;
  overflow: auto;
  margin: 0 auto;
  min-height: 1000px;
  padding: 0 15px;
}

.service-container .service-item {
  width: 350px;
  padding: 15px;
  text-align: left;
}

@media (max-width: 1399px) and (min-width: 1050px) {
  .service-container {
    width: 1050+30px;
  }  
}

@media (max-width: 1049px) and (min-width: 700px) {
  .service-container {
    width: 700+30px;
  }
}

@media (max-width: 699px) {
  .service-container {
    width: 100%;
  }

  .service-container .service-item {
    width: calc(100vw - 30px);
  }
}
